{% extends 'base.html' %}

{% load static %}

{% block title %}（管理者）レシピ{% endblock %}

{% block content %}
<head>
    <!-- Faviconの設定 -->
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <!-- CSSのリンク -->
    <link rel="stylesheet" href="{% static 'css/administrator/recipe/recipe.css' %}">
</head>

<div class="recipe-management-container">
    <h1>管理者画面</h1>

    <!-- ボタンコンテナ -->
    <div class="button-container">
        <form action="{% url 'administrator:recipeadd' %}" method="post">
            {% csrf_token %}
            <button  class="btn">レシピ追加</button>
        </form>
        <form action="" method="post">
            {% csrf_token %}
            <button class="btn">レシピ編集</button>
        </form>
        <form action="" method="post">
            {% csrf_token %}
            <button class="btn">レシピ削除</button>
        </form>
    </div>
</div>

{% endblock %}
