{% extends 'base2.html' %}

{% load static %}

{% block title %}ログイン{% endblock %}

{% block content %}

    <!-- メインコンテンツ -->
    <link rel="stylesheet" href="{% static 'css/login/login.css' %}">

    <main>
        <p>Session ID: {{ request.session.session_key }}</p>
        <div class="login-container">
            <h1>ログイン</h1>
            <form method="post">
                {% csrf_token %}
                <h1>Login</h1>
            
                {% if form.errors %}
                    <p style="color: red;">Invalid username or password.</p>
                {% endif %}
                
                <label for="id_username">Email</label>
                {{form.email}}
                
                <label for="id_password">Password</label>
                {{form.password}}
                <!-- <input type="password" name="password" id="password" required> -->
                
                <button type="submit">Log in</button>
            </form>
            
        </div>
    </main>

    {% endblock %}
