{% extends 'base2.html' %}

{% load static %}

{% block title %}ログイン{% endblock %}

{% block content %}

    <!-- メインコンテンツ -->
    <link rel="stylesheet" href="{% static 'css/login/login.css' %}">

    <main>

        <div class="login-container">
            <form method="post">
                {% csrf_token %}
                <h1>Login</h1>
            
                {% if form.errors %}
                    <p style="color: red;">Invalid username or password.</p>
                {% endif %}
                
                <label for="id_email">Email</label>
                {{ form.email }}
                
                <label for="id_password">Password</label>
                {{ form.password }}
                
                <button type="submit">Log in</button>

                <!-- パスワードを忘れた場合 -->
                <div class="forgot-password">
                    <a href="{% url 'cookapp:password_reset' %}">パスワードを忘れた場合</a>
                </div>
            </form>
            
        </div>
    </main>

{% endblock %}
