{% extends 'base2.html' %}

{% block title %}ログイン{% endblock %}

{% block content %}

    <!-- メインコンテンツ -->
    <main>
        <div class="login-container">
            <h1>ログイン</h1>
            <form method="post">
                {% csrf_token %}
                <h1>Login</h1>
            
                {% if form.errors %}
                    <p style="color: red;">Invalid username or password.</p>
                {% endif %}
                
                <label for="id_username">Email</label>
                <input type="text" name="username" id="id_username" required>
                
                <label for="id_password">Password</label>
                <input type="password" name="password" id="id_password" required>
                
                <button type="submit">Log in</button>
            </form>
            
        </div>
    </main>

    {% endblock %}
