<!-- recipe_edit.html -->
{% extends '../base.html' %}

{% load static %}

{% block title %}（管理者）レシピ編集{% endblock %}

{% block content %}
<head>
    <!-- Faviconの設定 -->
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <!-- CSSのリンク -->
    <link rel="stylesheet" href="{% static 'css/administrator/recipe/edit/recipe_edit.css' %}">
</head>
<!-- メインコンテンツ -->
<div class="login-container">
    <h1>管理者画面</h1>
    <h2>～レシピ編集～</h2>
    <form action="#" method="post" enctype="multipart/form-data">
        <label for="recipe-name">メニュー名</label>
        <input type="text" id="recipe-name" name="recipe-name" required>

        <label for="ingredients">材料名</label>
        <textarea id="ingredients" name="ingredients" rows="4" required></textarea>

        <label for="instructions">作り方</label>
        <textarea id="instructions" name="instructions" rows="4" required></textarea>

        <button type="submit">戻る</button>

        <button type="submit">レシピ編集</button>
    </form>
</div>
{% endblock %}
