{% extends "base.html" %}

{% load static %}

{% block title %}掲示板{% endblock %}

{% block content %}

<head>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/keijiban/bulletinboard.css' %}">
</head>
<div class="search-bar-container">
    <input type="text" placeholder="料理を検索する..." class="search-bar">
    <button class="search-btn">検索</button>
    <a href="{% url 'bbs:Posts' %}">
        <button class="post-btn">レシピを投稿する</button>
    </a>
</div>

<div class="content-container">
    <aside class="sidebar">
        <a href="{% url 'bbs:MyBulletinBoard' %}"><button type="button">自分が投稿したもの</button></a>
        <button>お気に入り</button>
        <button>いいね数順</button>
    </aside>

    <main class="main-content">
        {% for post in bbs %}
        <div class="post-card">
            <img src="{{ postimage.image.url }}" alt="{{ post.name }}">
            <div class="post-details">
                <h3>{{ post.name }}</h3>
                <p>{{ post.user.username }}</p>
                <button class="like-btn" onclick="toggleLike(this)">❤</button>
            </div>
        </div>
        {% endfor %}
    </main>
</div>
{% endblock %}
