{% extends "base.html" %}

{% load static %}

{% block title %}掲示板{% endblock %}

{% block content %}

<head>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/keijiban/bulletinboard.css' %}">
</head>
<div class="search-bar-container">
    <input type="text" placeholder="料理を検索する..." class="search-bar">
    <button class="search-btn">検索</button>
    <a href="{% url 'bbs:Posts' %}">
        <button class="post-btn">レシピを投稿する</button>
    </a>
</div>

<div class="content-container">
    <aside class="sidebar">
        <a href="{% url 'bbs:MyBulletinBoard' %}"><button type="button">自分が投稿したもの</button></a>
        <button>お気に入り</button>
        <button>いいね数順</button>
    </aside>

    <main class="main-content">
        {% for bbs_entry in bbs_with_images %}
        <div class="post-card">
            <div class="post-details">
                <h3>{{ bbs_entry.post.name }}</h3>

                <img src="{{ bbs_entry.images }}" alt="Post image" class="img-fluid mb-3">

                <div class="button-container">
                    <!-- お気に入りボタン -->
                    <button class="like-btn" onclick="toggleLike(this, '{{ bbs_entry.post.post_id }}')">
                        <i class="far fa-heart"></i>
                    </button>
            </div>
        </div>
        </div>
        {% endfor %}
    </main>
</div>

{% endblock %}