<!-- recipe_add.html -->
{% extends '../../base.html' %}

{% block title %}（管理者）レシピ追加{% endblock %}

{% block content %}
<!-- メインコンテンツ -->
<div class="login-container">
    <h1>管理者画面</h1>
    <h2>～レシピ追加～</h2>
    <form action="#" method="post" enctype="multipart/form-data">
        <label for="recipe-name">メニュー名</label>
        <input type="text" id="recipe-name" name="recipe-name" required>

        <label for="ingredients">材料名</label>
        <textarea id="ingredients" name="ingredients" rows="4" required></textarea>

        <label for="instructions">作り方</label>
        <textarea id="instructions" name="instructions" rows="4" required></textarea>

        <button type="submit">戻る</button>

        <button type="submit">レシピ追加</button>
    </form>
</div>
{% endblock %}
