{% extends '../../base.html' %}

{% load static %}

{% block title %}（管理者）レシピ追加{% endblock %}

{% block content %}
<head>
    
   
</head>
<link rel="stylesheet" href="{% static 'css/administrator/recipe/add/recipe_add.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="recipe-add-container">
<script type="text/javascript">
  window.materialSessionData = "{{ request.session.materials|default:'{}'|escapejs }}"; 
</script>
<script src="{% static 'js/save_material.js' %}"></script>
<script src="{% static 'js/send_materials.js' %}"></script>
<script src="{% static 'js/delete_material.js' %}"></script>
<script src="{% static 'js/delete_materials.js' %}"></script>

<!-- メインコンテンツ -->
<div class="login-container">
    <h1>管理者画面</h1>
    <h2>～レシピ追加～</h2>
    <form method="post" enctype="multipart/form-data">
    

        {% csrf_token %}
        
        
        

        料理名：{{ form.name }}<br>
        種別 {{ form.type }}<br>
        作り方：{{ form.recipe_text }}<br>
        画像１ {{ form.image1 }}<br>
        画像２ {{ form.image2 }}<br>
        画像３ {{ form.image3 }}<br>
        <br>

       材料検索フォーム： <input type="text" id="material-input" name="material-input" value="" >


      <br>
        材料  <select id = "materialselect"></select> 単位：グラム(g)<input type="number" id = "materialamount"><button id ="materialbutton" type="button">追加</button>
        <h3 id="materials"></h3>
        <br>
        <button type="submit">レシピ追加</button>
    </form>
</div>
{% endblock %}