{% extends '../base.html' %}

{% block title %}（管理者）ログアウト{% endblock %}

{% block content %}
<div class="logout-container">
    <div class="logout-box">
        <h2>ログアウト</h2>
        <!-- ログアウト確認メッセージ -->
        <p>ログアウトしますか？</p>

        <!-- ボタンコンテナ -->
        <div class="button-container">
            <form action="{% url 'logout_complete' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="logout-btn">はい</button>
            </form>
            <form action="{% url 'home' %}" method="get">
                <button type="submit" class="cancel-btn">いいえ</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
