/* health_management_main.css */

/* General reset */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/*midasi*/
h1 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
    color: #4CAF50;
}

/* Table styling */
.schedule-table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
}

.schedule-table th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

.schedule-table td {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #fff;
}

/* Buttons */
.day-button,
.time-slot-button {
    width: 60px;
    height: 40px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

/* Day buttons */
.day-button {
    background-color: #4CAF50;
    color: white;
}

.day-button:hover {
    background-color: #45a049;
}

/* Time slot buttons */
.time-slot-button {
    background-color: #f1f1f1;
    color: #333;
}

.time-slot-button:hover {
    background-color: #ddd;
}

