{% extends '../baseuser.html' %}

{% block title %}家族情報{% endblock %}

{% block content %}
<!-- メインコンテンツ -->
<main>
    <!-- ヘッダー -->
    <header class="header">
        <div class="app-name">クッキングnavi</div>
        <div class="nav-right">
            <div class="nav-links">
                <a href="#" class="home-link">ホーム</a>
                <a href="#">ログアウト</a>
            </div>
            <div class="user-icon"></div>
        </div>
        <!-- 家族一覧項目と名前を追加 -->
        <div class="family-section">
            <h3>家族一覧</h3>
            <div class="family-member">
                <p>名前: {{ member.family_name }}</p>
                <button type="button">家族情報確認</button>
                <a href="{% url 'cookapp:kazoku_henko' %}" ><button type="button">家族情報変更</button></a>
                <a href="{% url 'cookapp:kazoku_add' %}" ><button type="button">家族情報追加</button></a>
            </div>
        </div>
    </header>
</main>

{% endblock %}

{% block footer %}
    <!-- フッター -->
    <footer class="footer">
        <p>&copy; 2024 クッキングnavi.</p>
    </footer>
{% endblock %}s
