{% extends '../base.html' %}

{% block title %}新しいパスワードの登録{% endblock %}


{% block content %}
<div class="container">
    <h1>新しいパスワードを登録してください</h1>
    <form method="POST" action="{% url 'password_reset' %}">
        {% csrf_token %}
        <label for="password1">新しいパスワード:</label>
        <input type="password" id="password1" name="password1" required>
        <div class="error">
            {% if form.password1.errors %}
                パスワードは8文字以上にしてください
            {% endif %}
        </div>

        <label for="password2">パスワードの確認:</label>
        <input type="password" id="password2" name="password2" required>
        <div class="error">
            {% if form.password2.errors %}
                パスワードが一致しません
            {% endif %}
        </div>

        <button type="submit" class="button">登録</button>
    </form>
</div>
{% endblock %}
