{% extends '../../baseuser.html' %}

{% block title %}クッキングナビ - パスワード変更{% endblock %}

{% block content %}
<main class="main-content">
    <h2>パスワード変更</h2>

    <form action="{% url 'cookapp:password' %}" method="post">
        {% csrf_token %}
        
        <!-- 現在のパスワード -->
        <div class="form-group">
            <label for="id_current_password">現在のパスワード：</label>
            <div class="input-container">
                <span class="icon">🔒</span>
                <input type="password" id="id_current_password" name="current_password" placeholder="現在のパスワード" required>
            </div>
        </div>
        
        <!-- 新しいパスワード -->
        <div class="form-group">
            <label for="id_new_password">新しいパスワード：</label>
            <div class="input-container">
                <span class="icon">🔒</span>
                <input type="password" id="id_new_password" name="new_password" placeholder="新しいパスワード" required>
                {% if form.new_password.errors %}
                    <p class="error-message">{{ form.new_password.errors|striptags }}</p>
                {% endif %}
            </div>
        </div>
        
        <!-- パスワード（確認） -->
        <div class="form-group">
            <label for="id_confirm_password">新しいパスワード確認：</label>
            <div class="input-container">
                <span class="icon">🔒</span>
                <input type="password" id="id_confirm_password" name="confirm_password" placeholder="確認用パスワード" required>
                {% if form.confirm_password.errors %}
                    <p class="error-message">{{ form.confirm_password.errors|striptags }}</p>
                {% endif %}
            </div>
        </div>

        <!-- ボタン -->
        <div class="button-group">
            <button type="button" onclick="window.history.back();">戻る</button>
            <button type="submit">変更</button>
        </div>
    </form>
</main>
{% endblock %}
