<!-- パスワード変更 -->
{% extends '../../baseuser.html' %}

{% block title %}クッキングナビ - パスワード変更{% endblock %}

{% block content %}
<main class="main-content">
    <h2>パスワード変更</h2>

    <form action="{% url 'password_change' %}" method="post" class="form-group">
        {% csrf_token %}
        <div>
            <label>現在のパスワード：</label>
            <div class="input-group">
                <span>🔒</span>
                <input type="password" name="current_password" placeholder="現在のパスワード" required>
            </div>
        </div>

        <div>
            <label>新しいパスワード：</label>
            <div class="input-group">
                <span>🔒</span>
                <input type="password" name="new_password" placeholder="新しいパスワード" required>
            </div>
        </div>

        <div>
            <label>パスワード（確認）：</label>
            <div class="input-group">
                <span>🔒</span>
                <input type="password" name="confirm_password" placeholder="確認用パスワード" required>
            </div>
        </div>

        <div class="button-group">
            <button type="button" onclick="window.history.back();">戻る</button>
            <button type="submit">変更</button>
        </div>
    </form>
</main>
{% endblock %}
