<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップページ</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <!-- ヘッダー -->
    <header class="header">
        <div class="app-name">クッキングnavi</div>
        <div class="nav-right">
            <div class="nav-links">
                <a href="{% url 'cookapp:home' %}" >ホーム</a>
                <a href="{% url 'account:login' %}">ログイン</a>
                <a href="{% url 'account:signup1' %}">サインアップ</a>
            </div>
            <div class="user-icon"></div>
        </div>
    </header>

    <!-- メインコンテンツ -->
    <main>
        <!-- 画像とボタンを配置するためのコンテナ -->
        <div class="image-container">
            <img src="C:\djangoprojects\CookingNavi\png\top.jpg" alt="Top Image" class="top-image">
            <div class="button-container">
                <a href="{% url 'account:signup1' %}" class="button">新規登録</a>
                <a href="{% url 'account:login' %}" class="button">ログイン</a>
            </div>
        </div>
    </main>
    

    <!-- フッター -->
    <footer class="footer">
        <p>&copy; 2024 クッキングnavi.</p>
    </footer>

</body>
</html>
