<!-- top_page.html -->
{% extends '../baseuser2.html' %}

{% load static %} 

{% block title %}トップページ{% endblock %}

{% block content %}
<!-- メインコンテンツ -->
<link rel="stylesheet" href="{% static 'css/top/top.css' %}">

<main>
    <!-- 画像とボタンを配置するためのコンテナ -->
    <div class="image-container">
        {% comment %} <img src="{% static 'png/top.jpg' %}" alt="Top Image" class="top-image"> {% endcomment %}
        <div class="button-container">
            <a href="{% url 'account:signup1' %}" class="button">新規登録</a>
            <a href="{% url 'account:login' %}" class="button">ログイン</a>
        </div>
    </div>
</main>
{% endblock %}
