{% extends 'baseuser.html' %}
 
{% block title %}投稿削除{% endblock %}
 
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>投稿削除確認</title>
</head>
<body>
    <h1>投稿削除</h1>
    <p>本当に「{{ post.name }}」を削除してもよろしいですか？</p>
   
    <!-- 削除実行リンク -->
    <form method="POST">
        {% csrf_token %}
        <button type="submit">はい</button>
        <!-- キャンセルリンク（一覧ページに戻る） -->
        <a href="{% url 'bbs:MyBulletinBoard' %}"><button type="button">いいえ</button></a>
    </form>
</body>
</html>
{% endblock %}