{% extends 'baseuser.html' %}

{% block title %}投稿完了{% endblock %}

{% block content %}
    <div class="container">
        <h1>投稿が完了しました！</h1>
        <p>レシピが正常に投稿されました。以下の内容を確認してください。</p>

        <!-- 投稿の詳細情報 -->
        <div class="post-details">
            <strong>レシピタイトル:</strong> {{ post_title }}<br>
            <strong>レシピの説明:</strong> {{ post_description }}<br>
        </div>

        <!-- ボタンでホームに戻る -->
        <a href="{% url 'bbs:MyBulletinBoard' %}"><button type="button">投稿一覧に戻る</button></a>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        // JavaScriptの関数は不要なので削除
    </script>
{% endblock %}
