{% extends 'baseuser.html' %}

{% load static %}

{% block title %}レシピ投稿{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/keijiban/toukou/posts.css' %}">
<!-- 必要なJavaScriptの読み込み -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/save_material_posts.js' %}"></script>
<script src="{% static 'js/send_material_posts.js' %}"></script>
<script src="{% static 'js/delete_material_posts.js' %}"></script>

<!-- 投稿画面 -->
<div class="form-container">
    <h2>投稿画面</h2>
    <form id="recipe-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        料理名:{{ form.name }}<br>
        作り方: {{ form.recipe_text }}<br>
        画像１ {{ form.image1 }}<br>
        画像２ {{ form.image2 }}<br>
        画像３ {{ form.image3 }}<br>
        <br>

        材料検索フォーム： <input type="text" id="material-input" name="material-input" value="">


        <br>
        材料: <select id="materialselect"></select> 単位：グラム(g)<input type="number" id="materialamount"><button
            id="materialbutton" type="button">追加</button>
        <h3 id="materials"></h3>
        <br>
        <button type="submit">投稿する</button>

    </form>
</div>

<!-- 投稿一覧 -->
<div class="posts-container" id="posts-container">
    <!-- 投稿内容がここに表示されます -->
</div>
{% endblock %}