{% extends '../../baseuser.html' %}
{% load static %}

{% block title %}サブスクリプション設定{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/sabusuku/setting/sabusuku_setting.css' %}">

<div class="subscription-container">
    <h1>サブスクリプション設定</h1>

    <!-- 主な機能 -->
    <div class="subscription-features">
        <h2>サブスクリプションの主な機能</h2>
        <ul>
            <li>プレミアムコンテンツへの無制限アクセス</li>
            <li>新しい機能の優先アクセス</li>
            <li>デバイス間の同期</li>
        </ul>
    </div>
    <!-- 広告削除について -->
    <div class="ad-removal">
        <h2>広告削除について</h2>
        <p>サブスクリプションに登録すると、全ての広告が非表示になります。</p>
    </div>

</div>

    <!-- サブスク登録ボタンとアカウント作成ボタンをコンテンツエリア内に配置 -->
    <div class="buttons-container">
        <!-- サブスク登録ボタン -->
        <div class="subscription-button">
            <a href="{% url 'cookapp:subscription_login' %}" ><button>サブスクリプション登録</button></a>
        </div>

        <!-- アカウント作成ボタン -->
        <div class="create-account">
            <a href="{% url 'account:signup1' %}" ><button>アカウントを作っていない方はこちら</button></a>
        </div>
    </div>

{% endblock %}
