{% extends 'baseuser.html' %}
{% load static %}
{% block title %}買い物リスト{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/kaimonorisuto/buylist.css' %}">
<h2 style="text-align: center;">買い物リスト</h2>

<body>
    <div class="content" style="overflow-y: auto; max-height: 80vh;">
        
        <!-- フォーム表示 -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- フォームを表示 -->
            <button type="submit">表示</button>
        </form>

        <ul class="ingredients-list" id="ingredients-list">
            <!-- 材料とその量を表示 -->
            {% for material, quantity in material_quantities.items %}
                <li>{{ material }}: {{ quantity }}</li>
            {% endfor %}
        </ul>
    </div>

</body>
{% endblock %}