{% extends '../../baseuser.html' %}
{% load static %}

{% block title %}家族情報追加{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/kazoku/add/kazoku_add.css' %}">

<main class="main-content">
    <h2>家族情報追加</h2>
    <form action="{% url 'cookapp:kazoku_add' %}" method="post" class="registration-form">
        {% csrf_token %}
        {{ form.as_p }}  <!-- フォームのフィールドをパラグラフ形式で表示 -->
        
        <div class="button-container">
            <button type="button" onclick="window.history.back();">戻る</button>
            <button type="submit">追加</button>
        </div>
    </form>
</main>
{% endblock %}