{% extends '../../baseuser.html' %}
{% load static %}

{% block title %}サブスク登録{% endblock %}

{% block content %}
<!-- メインコンテンツ -->
<link rel="stylesheet" href="{% static 'css/sabusuku/touroku/sabusuku_login.css' %}">
<main>
    <div class="subscription-container">
        <h1>サブスクに登録しますか？</h1>
        <p>月額料金200円</p>
        
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        <div class="subscription-buttons">
            <form method="POST" action="{% url 'cookapp:subscription_login_ok' %}">
                {% csrf_token %}
                <button type="submit" class="btn yes-btn">はい</button>
            </form>
            <a href="{% url 'cookapp:subscription_setting' %}"><button type="button">いいえ</button></a>
        </div>
        
        <a href="{% url 'cookapp:setting' %}" >サブスク設定</a>
    </div>
</main>
{% endblock %}