<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>（管理者）レシピ編集</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

   <!-- ヘッダー -->
   <header class="header">
        <div class="app-name">クッキングnavi　管理者用</div>
        <div class="nav-right">
            <div class="nav-links">
                <a href="#" class="home-link">ホーム</a>
                <a href="#">ログアウト</a>
            </div>
            <div class="user-icon"></div>
        </div>
    </header>

    <!-- メインコンテンツ -->
    <main>
        <div class="login-container">
            <h1>管理者画面</h1>
            <h2>～レシピ編集～</h2>
            <form action="#" method="post" enctype="multipart/form-data">
                <label for="recipe-name">メニュー名</label>
                <input type="text" id="recipe-name" name="recipe-name" required>

                <label for="ingredients">材料名</label>
                <textarea id="ingredients" name="ingredients" rows="4" required></textarea>

                <label for="instructions">作り方</label>
                <textarea id="instructions" name="instructions" rows="4" required></textarea>

                <button type="submit">戻る</button>

                <button type="submit">レシピ編集</button>
            </form>
        </div>
    </main>

    <!-- フッター -->
    <footer class="footer">
        <p>&copy; 2024 CookingNavi</p>
    </footer>

</body>
</html>
