{% extends 'baseuser.html' %}
{% load static %}

{% block title %}料理情報{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>メニュー・栄養素閲覧</title>
    
</head>
<body>
    <h2>メニュー・栄養素閲覧</h2>
    <div>
        <p>～ {{ day }} ～
            {% if time == 0 %}
                <span>朝</span>
            {% elif time == 1 %}
                <span>昼</span>
            {% elif time == 2 %}
                <span>晩</span>
            {% endif %}
        </p>
    </div>

{% for i in cook_list %}
    {{ i.cookname }}
    <div class="tab-container">
    <button id="ingredients-button" class="tab-button{{ forloop.counter0 }}"  data-material='{{ material_list }}' onclick="showContent('ingredients', ' ','{{ forloop.counter0 }}')">材料</button>
    <button class="tab-button{{ forloop.counter0 }}" onclick="showContent('recipe','{{i.recipe_text}}', '{{ forloop.counter0 }}')">作り方</button>
    <button class="tab-button{{ forloop.counter0 }}" onclick="showContent('nutrition','カロリー：{{i.calorie}}kcal \n タンパク質：{{i.protein}}g\n 脂質：{{ i.lipids }}g 炭水化物：{{i.carbohydrates}}g fiber：{{ i.fiber }}g 塩分含有量： {{i.saltcontent}}g','{{ forloop.counter0 }}')">栄養素</button>
    </div>
    <div class="content-box" id="content-box{{ forloop.counter0 }}">
        ここに内容が表示されます。
    </div>
{% endfor %}

{% endblock %}
    <script>
        function showContent(type, text,count) {
            contentid = 'content-box' + count;
            const contentBox = document.getElementById(contentid);
            const buttonid = '.tab-button' +count;
            console.log(buttonid)
            const buttons = document.querySelectorAll(buttonid);

            // 全てのボタンから active クラスを削除
            buttons.forEach(button => button.classList.remove('active'));

            // クリックされたボタンに active クラスを追加
            event.target.classList.add('active');

            // 表示内容を変更
            if (type === 'ingredients') {
                let button = document.getElementById("ingredients-button");
                let materialData = button.getAttribute("data-material");
                const parsedData = JSON.parse(materialData); // JSONをオブジェクトとしてパース
                
                let loopcount = 0;
                count = Number(count);
                for (var item in parsedData) {
                    console.log(typeof count, typeof loopcount);
                    console.log(count)
                    if (count === loopcount){
                        console.log(parsedData[item])
                        contentBox.innerHTML = parsedData[item].map(i => `<p>${i.materialname} (${i.quantity}g)</p>`).join("");
                        break;
                    }
                loopcount++;
                }
          
            } else if (type === 'recipe') {
                contentBox.textContent =text;
            } else if (type === 'nutrition') {
                contentBox.textContent =text;
            }
        }
    
    </script>
</body>
</html>