{% extends 'baseuser.html' %}
{% load static %}

{% block title %}健康管理{% endblock %}

{% block content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/health/health_management_main.css' %}">

<body>
    <h1>健康管理</h1>
    
    <!-- Schedule Table -->
    <table class="schedule-table">  
  
        <tr>
            {% for item in menu_status %}
                <th><a href="{% url 'health:health_selection' day=item.date %}">
                    <button class="day-button">{{ item.date }}</button>
                </a></th>
            {% endfor %}
        </tr>
        <tr>
            {% for item in menu_status %}
                <td>
                    {% if item.status.0 == "T" and item.status.1 == "T" and item.status.2 == "T" %}
                        <!-- 朝・昼・晩すべて設定されている場合、ボタンを表示 -->
                        <a href="{% url 'health:health_menu' time=0 day=item.date %}"><button class="time-slot-button">朝</button></a>
                        <a href="{% url 'health:health_menu' time=1 day=item.date %}"><button class="time-slot-button">昼</button></a>
                        <a href="{% url 'health:health_menu' time=2 day=item.date %}"><button class="time-slot-button">晩</button></a>
                    {% else %}
                        <!-- 1つでも未定があれば未定表示 -->
                        <h2>未定</h2>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    </table>
</body>
</html>
{% endblock %}
