{% extends "baseuser.html" %}
{% load static %}

{% block title %}
主菜選択 | クッキングnavi
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/health/health_selection.css' %}">
<div class="title">主菜選択</div>

<form id="meal-form" method="post">
    {% csrf_token %}

    <!-- 日付選択 -->
    <div class="form-group">
        <div class="date-display">～ {{ day }} ～</div>
    </div>

    <!-- 食事時間（朝・昼・晩） -->
    <div>
        <label for="mealtime">食事時間:</label>
        {% if mealtime == 0 %}
            <span>朝</span>
        {% elif mealtime == 1 %}
            <span>昼</span>
        {% elif mealtime == 2 %}
            <span>晩</span>
        {% endif %}
    </div>

    <!-- メニュー選択 -->
    <div class="form-group">
        <label for="menu">メニュー</label>
        {{ form.CookSelect }}  <!-- メニュー選択フォーム -->
    </div>

    <!-- ボタン -->
    <div class="buttons">
        <button type="submit" class="register-btn">
            {% if mealtime == 2 %}
                登録完了
            {% else %}
                次へ
            {% endif %}
        </button>
    </div>
</form>

{% endblock %}
