<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クッキングナビ - ユーザ変更</title>
</head>
<body>

    <header class="header">
        <div class="app-name">クッキングnavi</div>
        <div class="nav-right">
            <div class="nav-links">
                <a href="#">ホーム</a>
                <a href="#">ログアウト</a>
                <div>👤</div>
            </div>
        </div>
    </header>
        
    <div>
        <h2>ユーザ変更</h2>
 
        <!-- ユーザー名変更フォーム -->
        <form action="{% url 'account:username' %}" method="post">
            {% csrf_token %}
            <div>
                <label>新しいユーザ名：</label>
                <div>
                    <span>📧</span>
                    <input type="text" name="new_username" placeholder="ゴリ ゴリオ" required>
                </div>
            </div>
            
            <div>
                <label>ユーザ名（確認）：</label>
                <div>
                    <span>📧</span>
                    <input type="text" name="confirm_username" placeholder="ゴリ ゴリオ" required>
                </div>
            </div>
            
            <div>
                <button type="button" onclick="window.history.back()">戻る</button>
                <button type="submit">変更</button>
            </div>
        </form>
    </div>
    
    

</main>

