{% extends 'baseuser.html' %}
 
{% load static %}
 
{% block title %}主菜選択{% endblock %}
 
{% block content %}
 
<head>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/keijiban/bulletinboard.css' %}">
</head>
 
<div class="search-bar-container">
    <form action="{% url 'bbs:MyBulletinBoard' %}" method="get">
        <input type="text" name="search_query" placeholder="投稿を検索する..." class="search-bar" value="{{ search_query }}">
        <button type="submit" class="search-btn">検索</button>
    </form>
    <a href="{% url 'bbs:Posts' %}">
        <button class="post-btn">レシピを投稿する</button>
    </a>
</div>
 
<div class="content-container">
    <aside class="sidebar">
        <a href="{% url 'bbs:BulletinBoard' %}"><button type="button">自分以外が投稿したもの</button></a>
        <a href="{% url 'bbs:favorite' %}"><button type="button">お気に入り</button></a>
        <a href="{% url 'bbs:ranking' %}"><button type="button">いいね数順</button></a>
        <a href="{% url 'cookapp:home' %}"><button type="button">ホーム</button></a>
        <a href="{% url 'cookapp:home' %}"><button type="button">ホーム</button></a>
    </aside>
 
    <main class="main-content">
        {% if bbs_with_images %}
            {% for bbs_entry in bbs_with_images %}
                <div class="post-card">
                    <div class="post-details">
                        <h3>{{ bbs_entry.post.name }}</h3>
                        <img src="{{ bbs_entry.images }}" alt="Post image" class="img-fluid mb-3">
                        <div class="button-container">
                            <a href="{% url 'bbs:edit' post_id=bbs_entry.post.post_id %}">
                                <button type="button">編集</button>
                            </a>
                            <a href="{% url 'bbs:PostsDelete' post_id=bbs_entry.post.post_id %}">
                                <button type="button">削除</button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>検索結果が見つかりませんでした。</p>
        {% endif %}
    </main>
</div>
 
{% endblock %}
 
{% block scripts %}
<script>
    function editPost() {
        alert("編集画面に移動します。");
    }
</script>
{% endblock %}