<!-- アカウント設定 -->
{% extends '../../baseuser.html' %}

{% block title %}クッキングナビ - アカウント設定{% endblock %}

{% block content %}
<main class="main-content">
    <h2>アカウント設定</h2>
    
    <div class="account-setting-item">
        <label>ユーザーID：</label>
        <span>XXXXXXXXX</span>
        <a href="{% url 'account:username' %}">
            <button>変更</button>
        </a>
    </div>
    
    <div class="account-setting-item">
        <label>メールアドレス：</label>
        <span>XXXXXXXXX</span>
        <a href="{% url 'account:email' %}">
            <button>変更</button>
        </a>
    </div>
    
    <div class="account-setting-item">
        <label>パスワード：</label>
        <span>XXXXXXXXX</span>
        <a href="{% url 'account:password' %}">
            <button>変更</button>
        </a>
    </div>
</main>
{% endblock %}
