<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>クッキングナビ - アカウント設定</title>
</head>
<body>

    <header class="header">
        <div class="app-name">クッキングnavi</div>
        <div class="nav-right">
            <div class="nav-links">
            <div>
                <a href="#">ホーム</a>
                <a href="#">ログアウト</a>
            </div>
            <div>👤</div>
        </div>
    </header>
        
        <div>
            <h2>アカウント設定</h2>
            
            <div>
                <label>ユーザーID ：</label>
                <span>XXXXXXXXX</span>
                <a href="{% url 'account:username' %}" ><button>変更</button></a>
            </div>
            
            <div>
                <label>メールアドレス：</label>
                <span>XXXXXXXXX</span>
                <a href="{% url 'account:email' %}" ></a><button>変更</button></a>
            </div>
            
            <div>
                <label>パスワード：</label>
                <span>XXXXXXXXX</span>
                <button>変更</button>
            </div>
        </div>
    </div>

      <!-- フッター -->
      <footer class="footer">
        <p>&copy; 2024 CookingNavi</p>
    </footer>

</body>
</html>
