<!-- アカウント設定 -->


    <header class="header">
        <div class="app-name">クッキングnavi</div>
        <div class="nav-right">
            <div class="nav-links">
            <div>
                <a href="#">ホーム</a>
                <a href="#">ログアウト</a>
            </div>
            <div>👤</div>
        </div>
    </header>
        
        <div>
            <h2>アカウント設定</h2>
            
            <div>
                <label>ユーザーID ：</label>
                <span>XXXXXXXXX</span>
                <a href="{% url 'account:username2' %}" ><button>変更</button></a>
            </div>
            
            <div>
                <label>メールアドレス：</label>
                <span>XXXXXXXXX</span>
                <button>変更</button>
            </div>
            
            <div>
                <label>パスワード：</label>
                <span>XXXXXXXXX</span>
                <button>変更</button>
            </div>
        </div>
    </div>
    
    <div class="account-setting-item">
        <label>メールアドレス：</label>
        <span>XXXXXXXXX</span>
        <a href="{% url 'account:email' %}">
            <button>変更</button>
        </a>
    </div>
    
    <div class="account-setting-item">
        <label>パスワード：</label>
        <span>XXXXXXXXX</span>
        <a href="{% url 'account:password' %}">
            <button>変更</button>
        </a>
    </div>
</main>

