<!-- body_info_update.html -->
{% extends '../baseuser.html' %}
{% load static %}

{% block title %}身体情報変更{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/sintai/sintai_henko.css'%}">
<main class="main-content">
    <h2>身体情報変更</h2>
    <form action="{% url 'cookapp:body_info_update' %}" method="post" class="registration-form">
        <p>ユーザ名：{{ user.name}}</p>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="button" onclick="window.history.back()">戻る</button>
        <button type="submit">変更</button>
    </form>
</main>
{% endblock %}
