{% extends '../../baseuser.html' %}
{% load static %}

{% block title %}サブスク解約{% endblock %}

{% block content %}
<!-- ログアウトコンテンツ -->
<h2>サブスク解約</h2>

<link rel="stylesheet" href="{% static 'css/sabusuku/kaiyaku/sabusuku_kaiyaku.css' %}">
<main>
    <div class="kaiyaku-container">
        <!-- ログアウト確認メッセージ -->
        <h1>サブスクを解約しますか？</h1>
        
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        <!-- ボタンコンテナ -->
        <div class="subscription-buttons">
            <form method="POST" action="{% url 'cookapp:subscription_kaiyaku_ok' %}">
                {% csrf_token %}
                <button type="submit" class="btn yes-btn">はい</button>
            </form>
            <a href="{% url 'cookapp:setting' %}"><button type="button">いいえ</button></a>
        </div>

    </div>
</main>
{% endblock %}

{% block footer %}
<!-- フッター -->
<footer class="footer">
    <p>&copy; 2024 CookingNavi</p>
</footer>
{% endblock %}
