{% extends '../../base.html' %}

{% block title %}サブスク解約{% endblock %}

{% block content %}
<!-- ログアウトコンテンツ -->
<div class="kaiyaku-container">
    <div class="kaiyaku-box">
        <h2>サブスク解約</h2>
        <!-- ログアウト確認メッセージ -->
        <p>サブスクを解約しますか？</p>

        <!-- ボタンコンテナ -->
        <div class="button-container">
            <button class="kaiyaku-btn">はい</button>
            <button class="cancel-btn">いいえ</button>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<!-- フッター -->
<footer class="footer">
    <p>&copy; 2024 CookingNavi</p>
</footer>
{% endblock %}
