{% extends 'baseuser.html' %}
{% load static %}
{% block title %}健康管理{% endblock %}

{% block content %}
<div class="content">
    <table class="table">
        <thead>
            <tr>
                <th>朝</th>
                <th>昼</th>
                <th>晩</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2" class="date-cell">
                    <button class="date-button">10月24日</button>
                </td>
                <td><button class="meal-button" onclick="location.href='{% url %}'">カレー</button></td>
                <td><button class="meal-button" onclick="location.href='{% url %}'">肉じゃが</button></td>
                <td><button class="meal-button" onclick="location.href='{% url %}'">ハヤシライス</button></td>
            </tr>
            <tr>
                <td rowspan="2" class="date-cell">
                    <button class="date-button">10月23日</button>
                </td>
                <td><button class="meal-button" onclick="location.href='{% url %}'">パン</button></td>
                <td><button class="meal-button" onclick="location.href='{% url %}'">ごはん</button></td>
                <td><button class="meal-button" onclick="location.href='{% url %}'">スパゲッティ</button></td>
            </tr>
            <tr>
                <td rowspan="2" class="date-cell">
                    <button class="date-button">10月22日</button>
                </td>
                <td><button class="meal-button" onclick="location.href='{% url %}'">コロッケ</button></td>
                <td><button class="meal-button" onclick="location.href='{% url %}'">パン</button></td>
                <td><button class="meal-button" onclick="location.href='{% url %}'">肉</button></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
