{% extends 'baseuser.html' %}
{% load static %}

{% block title %}健康管理{% endblock %}

{% block content %}
<div class="content">
    <table class="table">
        <thead>
            <tr>
                <th>朝</th>
                <th>昼</th>
                <th>晩</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2" class="date-cell">
                    <button class="date-button">10月24日</button>
                </td>
                <td><button class="meal-button">カレー</button></td>
                <td><button class="meal-button">肉じゃが</button></td>
                <td><button class="meal-button">ハヤシライス</button></td>
            </tr>
            <tr>
                <td rowspan="2" class="date-cell">
                    <button class="date-button">10月23日</button>
                </td>
                <td><button class="meal-button">パン</button></td>
                <td><button class="meal-button">ごはん</button></td>
                <td><button class="meal-button">スパゲッティ</button></td>
            </tr>
            <tr>
                <td rowspan="2" class="date-cell">
                    <button class="date-button">10月22日</button>
                </td>
                <td><button class="meal-button">コロッケ</button></td>
                <td><button class="meal-button">パン</button></td>
                <td><button class="meal-button">肉</button></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
