{% extends 'baseuser.html' %}
{% load static %}

{% block title %}食事履歴{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/kaimonorisuto/buylist.css' %}">
<h2 style="text-align: center;">食事履歴</h2>

<body>
    <div class="content" style="overflow-y: auto; max-height: 80vh;">
        <h2>食事履歴</h2>
        
        <!-- フォーム表示 -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- フォームを表示 -->
            <button type="submit">表示</button>
        </form>

        <ul class="ingredients-list" id="ingredients-list">
            <!-- 料理名を表示 -->
            {% for date, meals in cook_names.items %}
                <li>{{ date }}</li>
                <ul>
                    <li>朝:
                        <ul>
                            {% for cookname in meals.朝 %}
                                <li>{{ cookname }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>昼:
                        <ul>
                            {% for cookname in meals.昼 %}
                                <li>{{ cookname }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>晩:
                        <ul>
                            {% for cookname in meals.晩 %}
                                <li>{{ cookname }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            {% endfor %}
        </ul>
    </div>

</body>
{% endblock %}