<!-- recipe_delete.html -->
{% extends '../base.html' %}

{% block title %}（管理者）レシピ削除{% endblock %}

{% block content %}
<!-- メインコンテンツ -->
<div class="login-container">
    <h1>管理者画面</h1>
    <h2>～レシピ削除～</h2>
    <form action="#" method="post" enctype="multipart/form-data">
        <label for="recipe-name">メニュー名</label>
        <select id="recipe-name" name="recipe-name" required>
            <option value="" disabled selected>メニューを選択してください</option>
            <option value="recipe1">レシピ1</option>
            <option value="recipe2">レシピ2</option>
            <option value="recipe3">レシピ3</option>
            <!-- 他のメニュー名も追加可能 -->
        </select>

        <button type="submit">戻る</button>
        <button type="submit">レシピ削除</button>
    </form>
</div>
{% endblock %}
