{% extends 'baseuser.html' %}

{%load static%}

{% block title %}お知らせ{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/osirase/osirase.css' %}">
<div class="wrapper">
  <h1>お知らせ</h1>
  <article id="part1">
    <p class="text_date"><time datetime="2021-04-12">2021.04.12</time></p>
    <h2>お問い合わせページを追加しました。</h2>
    <p class="text_content">お問い合わせページを追加しました。<br>当サイトについてのお問い合わせは、記載した電話番号、またはメールアドレスまでお寄せください。</p>
  </article>
  <article id="part2">
    <p class="text_date"><time datetime="2021-04-05">2021.04.05</time></p>
    <h2>プロフィールを更新しました。</h2>
    <p class="text_content">プロフィールを更新しました。</p>
  </article>
</div>
{% endblock %}