{% extends 'baseuser.html' %}

{% load static %}
{% load tz %}

{% block title %}お知らせ{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/osirase/osirase.css' %}">
<div class="wrapper">
  <h1>お知らせ</h1>

  {% for i in news %}
  <article id="part{{ i.news_id }}">
    <div class="osirase">
      <p class="text_date">
        {{i.update_time}}
      </p>
      <div class="osirase-title">
        <h2>{{ i.title }}</h2>
      </div>
      <div ></div>
        <p class="text_content">{{ i.content }}</p>
      </div>
    </article>
  {% endfor %}
  
</div>
{% endblock %}
