<!-- メールアドレス変更 -->
{% extends 'baseuser.html' %}

{% load static %}

{% block title %}クッキングナビ - メールアドレス変更{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/acount/email/email_henko.css' %}">
<main class="main-content">
    <div class="email-change-container">
        <h2>メールアドレス変更</h2>
        <form action="{% url 'cookapp:email' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="new_email">新しいメールアドレス：</label>
                <div class="input-container">
                    <span>📧</span>
                    <input type="email" id="new_email" name="new_email" placeholder="mail@example.com" required>
                </div>
            </div>

            <div class="form-group">
                <label for="confirm_email">メールアドレス（確認）：</label>
                <div class="input-container">
                    <span>📧</span>
                    <input type="email" id="confirm_email" name="confirm_email" placeholder="mail@example.com" required>
                </div>
            </div>

            <div class="button-group">
                <button type="button" onclick="window.history.back()">戻る</button>
                <button type="submit">変更</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}
