{% extends 'baseuser.html' %}
{% load static %}

{% block title %}よくあるご質問{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/questions/questions.css' %}">
<div class="faq-wrapper">
    <h2>よくあるご質問</h2>
    {% for i in question %}
    <div class="faq-item">
        <input type="checkbox" id="faq{{i.question_id}}" class="faq-toggle">
        <label for="faq{{i.question_id}}" class="faq-question">Q. {{i.question}}</label>
        <div class="faq-answer">
            <p>{{i.answer}}</p>
        </div>
    {% endfor %}
    
</div>
{% endblock %}
