{% extends 'baseuser.html' %}
{% load static %}

{% block title %}よくあるご質問{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/questions/questions.css' %}">
<div class="faq-wrapper">
    <h2>よくあるご質問</h2>

    <div class="faq-item">
        <input type="checkbox" id="faq1" class="faq-toggle">
        <label for="faq1" class="faq-question">Q. ○○したい時はどうすればいい？</label>
        <div class="faq-answer">
            <p>知らん</p>
        </div>
    </div>

    <div class="faq-item">
        <input type="checkbox" id="faq2" class="faq-toggle">
        <label for="faq2" class="faq-question">Q. ○○の通知を切りたい</label>
        <div class="faq-answer">
            <p>自分で考えろ</p>
        </div>
    </div>
</div>
{% endblock %}
